<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorkFlow Login</title>
  </head>
  <body>
    <h1>Login</h1>
    {% if messages %} {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %} {% endif %}
    <div class="flex flex-col gap-4 px-4 py-4 rounded-lg">
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <label for="username">User Name:</label>
        <input
          type="text"
          placeholder="Enter User Name"
          name="username"
          required
        />
        <label for="password">Password:</label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <input type="submit" value="Login" name="btn" id="btn" />
      </form>
    </div>
    <p>
      Don't have an account? <a href="{% url 'accounts:signup' %}">Signup</a>
    </p>
  </body>
</html>
