{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorkFlow Signup</title>
  </head>
  <body>
    <h1>Signup</h1>
    <div>
      {% if messages %}
       {% for message in messages%}
      <p>{{message}}</p>
       {% endfor %} 
      {% endif %}
    </div>
    <div class="flex flex-col gap-4 px-4 py-4 rounded-lg">
      <form action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        <label for="first-name">First Name:</label>
        <input
          type="text"
          placeholder="Enter First Name"
          required
          name="first-name"
        />
        <label for="last-name">Last Name:</label>
        <input
          type="text"
          placeholder="Enter Last Name"
          name="last-name"
          required
        />
        <label for="username">User Name:</label>
        <input
          type="text"
          placeholder="Enter User Name"
          name="username"
          required
        />
        <label for="password">Password:</label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <input type="submit" value="Sign up" name="btn" id="btn" />
      </form>
    </div>

    <p>
      Already have an account? <a href="{% url 'accounts:login' %}">Login</a>
    </p>
  </body>
</html>
