<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorkFlow Edit Project</title>
  </head>
  <body>
    {% if project %}
    <div class="form">
      <form action="{% url 'projects:editProject' project.id %}" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input
          type="text"
          placeholder="Enter Title of the Project:"
          name="title"
          required
          value="{{project.title}}"
        />
        <label for="description">Descritpion</label>
        <textarea name="description" id="description"></textarea>
        <label for="budget">Budget</label>
        <input
          type="number"
          placeholder="Enter Budget of the Project:"
          name="budget"
          required
          value="{{project.budget}}"
        />
        <label for="paid">Amount Paid</label>
        <input
          type="number"
          placeholder="Enter remaining Amount of the Project:"
          name="paid"
          required
          value="{{project.paid}}"
        />
        <label for="startDate">Start Date</label>
        <input type="date" value="{{project.startDate}}" name="startDate" />
        <label for="deadline">Deadline</label>
        <input type="date" value="{{project.deadline}}" name="deadline" />
        <input type="submit" name="save" id="save" value="Save Project" />
      </form>
    </div>
    {% endif %}
  </body>
</html>
