<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Detail</title>
  </head>
  <body>
    <h3>Project Details</h3>
    <h3>Project Title</h3>
    <p>{{project.title}}</p>
    <h3>Client Name</h3>
    <p>{{project.client.name}}</p>
    <h3>Amount paid</h3>
    <p>{{project.paid}}</p>
    <p>{{id}}</p>
    <br>
    <h1>Sprints</h1>
    <hr>
    <a href="{% url 'sprints:createSprint' id %}"><button>Create Sprint</button></a>
    {% if sprints %}
    <ul>
    {% for sprint in sprints %}
      <li>{{sprint.name}}</li>
      <a href="{% url 'userStories:displayUserStories' sprint.id %}"><button>See UserStories</button></a>
      {% if sprint.isActive %}
      <p>"Active"</p>
      {% else %}
      <p>"Not Active"</p>
      {% endif %}
      {% endfor %}
    </ul>
    {% else %}
    <p>No Sprint</p>
    {% endif %}

  </body>
</html>
