<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorkFlow Projects</title>
  </head>
  <body>
    <h1>All Projects</h1>
    <a href="{% url 'projects:addProject' %}"><button>Add Project</button></a>

    {% if projects %} {% for project in projects %}
    <div>
      <h2>{{project.title}}</h2>
      <p>{{project.description}}</p>
      <div>{{project.budget}}</div>
      <p>{{project.client.name}}</p>
      <p>{{project.startDate}}</p>
      <p>{{project.deadline}}</p>

      <button>
        <a href="{% url 'projects:editProject' project.id %}">Edit Project</a>
      </button>
      <button>
        <a href="{% url 'projects:deleteProject' project.id %}"
          >Delete Project</a
        >
      </button>
    </div>
    {% endfor %} {% else %}
    <h1>No Projects Yet</h1>
    {% endif %}
  </body>
</html>
